:root {
    --headerColor: black;
    --headerText: white;
    --cardColor: #EDEDED;
    --bodyBackground:#C6C6C6;
}

body {
    text-align: center;
    background-color: var(--bodyBackground);
}

header {
    padding: 3rem;
    background-color: var(--headerColor);
    color: var(--headerText);
}

main {
    margin-top: 1.5rem;
}

.row {
    margin-bottom: 1.5rem;
}

.submit{
    width: 100%;
    color: white;
    background-color: black;
    border-radius: 15%
}

.location{
    width: 100%;
    border: none;
    padding: 1rem;
    margin-bottom: 1rem
}

/**Current weather styling**/

.card {
    background-color: var(--cardColor);
}

p{
    font-weight: bold;
}
.goodUV {
    color: green;
}

.OKUV {
    color: gold;
}

.badUV{
    color: red;
}